html, body {
  background: #e0e0e0;
}

/* Mostly copy-paste from a blog post on vanilla JS tabs. There's never a "nice" or "elegant" html tab implementation. */
.tabContainer{
  margin:10px 0;
  width:400px;
}
.tabContainer #tabList{
  list-style:none;
  display:block;
  overflow:hidden;
  margin:0;
  padding:0px;
  position:relative;
  top:1px;
}
.tabContainer #tabList li {
  float:left;
  background-color:#46AAF7;
  padding:5px !important;
  cursor:pointer;
  margin-right:10px;
  
  color: #fff;
  text-decoration: none;
  font-family: Sans-Serif !important;
  font-size: 1.1em;
  font-weight: bold;
}
.tabContainer #tabList .selected {
  background-color:#fff;
  color:#393939;
}
#tabContent {
  padding:0;
  background-color:#fff;
  overflow:hidden;
  float:left;
  margin-bottom:10px;
  border:1px solid #020202;
  border-width: 1px 0 0 0;
  width:100%;
  min-height: 80vh;
  margin-top: 1px;
}
.tabContainer, .tabContent {
  width: 100%;
}
